<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Estate-Admin | Dashboard</title>

 {% include 'core/headers.html' %}
 {% block custom_css %} {% endblock custom_css %}
</head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">

  <!-- Preloader -->
  <div class="preloader flex-column justify-content-center align-items-center">
    {% if site_logo %}
      <img class="animation__shake" src="/media/{{site_logo}}" alt="AdminLTELogo" height="60" width="60">
    {% else %}
    <img class="animation__shake" src="{% static 'dist/img/logo.png' %}" alt="AdminLTELogo" height="60" width="60">
    {% endif %}
  </div>

  <!-- Navbar -->
  <nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <a href="{% url 'contact' %}" class="nav-link">Website</a>
      </li>
        {%if request.user.user_type == '1' or request.user.user_type == '2' %}
      <li class="nav-item d-none d-sm-inline-block">
        <a href="/admin" class="nav-link">Admin Site</a>
      </li>
      {% endif %}
        <h4 class="nav-item d-none d-sm-inline-block m-auto">
          <marquee><a href="#" class="nav-link"> {{ site_title }} - {{ site_addres }}</a></h4></marquee>
    </ul>

    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto">
      <!-- Navbar Search -->
      <li class="nav-item">
        <a class="nav-link" data-widget="navbar-search" href="#" role="button">
          <i class="fas fa-search"></i>
        </a>
        <div class="navbar-search-block">
          <form class="form-inline">
            <div class="input-group input-group-sm">
              <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">
              <div class="input-group-append">
                <button class="btn btn-navbar" type="submit">
                  <i class="fas fa-search"></i>
                </button>
                <button class="btn btn-navbar" type="button" data-widget="navbar-search">
                  <i class="fas fa-times"></i>
                </button>
              </div>
            </div>
          </form>
        </div>
      </li>

      <li class="nav-item dropdown">
          <a class="nav-link" data-toggle="dropdown" href="#">
            <i class="far fa-user"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
            <a href="{% url 'profile' %}" class="dropdown-item">
              <i class="fas fa-user mr-2"></i> Profile
            </a>
            <div class="dropdown-divider"></div>
            <a href="{% url 'logout' %}" class="dropdown-item">
              <i class="fas fa-sign-out"></i> Sign out
            </a>
          </div>
        </li>

      <!-- Messages Dropdown Menu -->
      <li class="nav-item dropdown">
        <a class="nav-link" data-toggle="dropdown" href="#">
          <i class="far fa-comments"></i>
          <span class="badge badge-danger navbar-badge">{{notice_count}}</span>
        </a>
        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
          <a href="#" class="dropdown-item">
            <!-- Message Start -->
            <div class="media">
              <img src="dist/img/user1-128x128.jpg" alt="User Avatar" class="img-size-50 mr-3 img-circle">
              <div class="media-body">
                <h3 class="dropdown-item-title">
                  Brad Diesel
                  <span class="float-right text-sm text-danger"><i class="fas fa-star"></i></span>
                </h3>
                <p class="text-sm">Call me whenever you can...</p>
                <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
              </div>
            </div>
            <!-- Message End -->
          </a>
          <div class="dropdown-divider"></div>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item dropdown-footer">See All Messages</a>
        </div>
      </li>
      <!-- Notifications Dropdown Menu -->
      <li class="nav-item dropdown">
        <a class="nav-link" data-toggle="dropdown" href="#">
          <i class="far fa-bell"></i>
          <span class="badge badge-warning navbar-badge">15</span>
        </a>
        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
          <span class="dropdown-item dropdown-header">15 Notifications</span>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item">
            <i class="fas fa-envelope mr-2"></i> 4 new messages
            <span class="float-right text-muted text-sm">3 mins</span>
          </a>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item dropdown-footer">See All Notifications</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-widget="fullscreen" href="#" role="button">
          <i class="fas fa-expand-arrows-alt"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-widget="control-sidebar" data-controlsidebar-slide="true" href="#" role="button">
          <i class="fas fa-th-large"></i>
        </a>
      </li>
    </ul>
  </nav>
  <!-- /.navbar -->

 {% if messages %}
  <div class="container">
    {% for message in messages %}
      <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    {% endfor %}
  </div>
{% endif %}


  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="{% url 'home' %}" class="brand-link bg-gradient">
       {% if site_logo %}
      <img src="/media/{{site_logo}}" alt="AdminLTE Logo" class="" width="100%" height="100" style="opacity: .8">
    {% else %}
      <img src="{% static 'dist/img/AdminLTELogo.png' %}" alt="AdminLTE Logo" class="" width="100%" height="100" style="opacity: .8">
    {% endif %}
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          {% if request.user.profile_pic  %}
          <img src="{{request.user.profile_pic.url}}" class="img-circle elevation-2" alt="UserImage">
          {% else %}
            <img src="{% static 'dist/img/AdminLTELogo.png' %}" class="img-circle elevation-2" alt="User Image">
          {% endif %}
        </div>
        <div class="info">
          <a href="#" class="d-block">{{request.user}}</a>
        </div>
      </div>

      <!-- SidebarSearch Form -->
      <div class="form-inline">
        <div class="input-group" data-widget="sidebar-search">
          <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
          <div class="input-group-append">
            <button class="btn btn-sidebar">
              <i class="fas fa-search fa-fw"></i>
            </button>
          </div>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <li class="nav-item menu-open">
            <a href="{% url 'home' %}" class="nav-link active">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>
                Dashboard
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
          </li>
          {% if request.user.user_type == '1' or  request.user.user_type == '2' %}
          <li class="nav-item">
            <a href="{% url 'home' %}" class="nav-link">
              <i class="nav-icon fas fa-users"></i>
              <p>
                Property Owners
                 <i class="fas fa-angle-left right"></i>
                <span class="right badge badge-danger">{{owner_count}}</span>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="/admin/landlords/propertyowner/" class="nav-link">
                  <i class="fa fa-plus nav-icon"></i>
                  <p>Add Owners</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/admin/landlords/propertyowner/" class="nav-link">
                  <i class="fa fa-list nav-icon"></i>
                  <p>Owners List</p>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a href="/admin/landlords/agent/" class="nav-link">
              <i class="nav-icon fas fa-users"></i>
              <p>
                Agents
                 <i class="fas fa-angle-left right"></i>
                <span class="right badge badge-danger">{{agent_count}}</span>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="/admin/landlords/agent/add/" class="nav-link">
                  <i class="fa fa-plus nav-icon"></i>
                  <p>Add Agents</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/admin/landlords/agent/' %}" class="nav-link">
                  <i class="fa fa-list nav-icon"></i>
                  <p>Agent List</p>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a href="{% url 'home' %}" class="nav-link">
              <i class="nav-icon fas fa-users"></i>
              <p>
                Staff
                 <i class="fas fa-angle-left right"></i>
                <span class="right badge badge-danger">{{staff_count}}</span>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="{% url 'staff-create' %}" class="nav-link">
                  <i class="fa fa-plus nav-icon"></i>
                  <p>Add Staff</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{% url 'staff-list' %}" class="nav-link">
                  <i class="fa fa-list nav-icon"></i>
                  <p>Staff List</p>
                </a>
              </li>
            </ul>
          </li>
           <li class="nav-item">
            <a href="{% url 'home' %}" class="nav-link">
              <i class="nav-icon fas fa-users"></i>
              <p>
                Payroll
                 <i class="fas fa-angle-left right"></i>
                <span class="right badge badge-danger">{{payslip_count}}</span>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="{% url 'staff-salary-payment-create' %}" class="nav-link">
                  <i class="fa fa-plus nav-icon"></i>
                  <p>Process Payslip</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{% url 'staff-salary-payment-list' %}" class="nav-link">
                  <i class="fa fa-list nav-icon"></i>
                  <p>Payment History</p>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a href="{% url 'tenant-list' %}" class="nav-link">
              <i class="nav-icon fas fa-user-plus"></i>
              <p>
                 <i class="fas fa-angle-left right"></i>
                Tenants  <span class="right badge badge-danger">{{tenant_count}}</span>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="{% url 'tenant-create' %}" class="nav-link">
                  <i class="fa fa-plus nav-icon"></i>
                  <p>Add Tenant</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{% url 'tenant-list' %}" class="nav-link">
                  <i class="fa fa-list nav-icon"></i>
                  <p>Tenants List</p>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a href="{% url 'property-list' %}" class="nav-link">
              <i class="nav-icon fas fa-copy"></i>
              <p>
                Properties
                 <i class="fas fa-angle-left right"></i>
                <span class="badge badge-info right">{{properties_count}}</span>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="/admin/property/units/" class="nav-link">
                  <i class="fa fa-list nav-icon"></i>
                  <p>Property Units</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{% url 'property-create' %}" class="nav-link">
                  <i class="fa fa-plus nav-icon"></i>
                  <p>Add Property</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{% url 'property-list' %}" class="nav-link">
                  <i class="fa fa-list nav-icon"></i>
                  <p>Property List</p>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a href="{% url 'lease-list' %}" class="nav-link">
              <i class="nav-icon fas fa-building"></i>
              <p>
               Property Lease
                <i class="fas fa-angle-left right"></i>
               <span class="badge badge-info right">{{active_lease_count}}</span>
               <span class="badge badge-danger right">{{dormant_lease_count}}</span>
              </p>
            </a>
             <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="{% url 'lease-list' %}" class="nav-link">
                  <i class="fa fa-plus nav-icon"></i>
                  <p>Create Lease</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{% url 'lease-list' %}" class="nav-link">
                  <i class="fa fa-list nav-icon"></i>
                  <p>Leases</p>
                </a>
              </li>
            </ul>
          </li>
          {% endif %}
          <li class="nav-header">MORE</li>
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon far fa-image"></i>
              <p>
                Gallery
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon far fa-envelope"></i>
              <p>
                Message Center
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="{% url 'notice_add' %}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Notices <span class="badge badge-info right">{{notice_count}}</span></p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/admin/notices/enquiries/" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Enquiries <span class="badge badge-info right">{{enquiry_count}}</span></p>
                </a>
              </li>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-book"></i>
              <p>
                Finances
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              {% if request.user.user_type == '1' or request.user.user_type == '2' %}
              <li class="nav-item">
                <a href="{% url 'invoice-list' %}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Invoices <span class="badge badge-info right">{{invoice_count}}</span></p>
                </a>
              </li>
                {% endif %}
                {% if request.user.user_type == '4' %}
                <li class="nav-item">
                  <a href="{% url 'invoice-list' %}" class="nav-link">
                    <i class="fa fa-file-pdf nav-icon"></i>
                    <p>My Invoices <span class="badge badge-info right">{{invoice_count}}</span></p>
                  </a>
                </li>
                {% endif %}
            </ul>
          </li>
          <li class="nav-header">MISCELLANEOUS</li>
          <li class="nav-item">
                <a href="#" class="nav-link">
                  <i class="fa fa-question nav-icon"></i>
                  <p>FAQ</p>
                </a>
              </li>
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-ellipsis-h"></i>
              <p>Utilities</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-ellipsis-h"></i>
              <p>Coming soon</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="https://adminlte.io/docs/3.1/" class="nav-link">
              <i class="nav-icon fas fa-file"></i>
              <p>Reports</p>
            </a>
          </li>
          {% if request.user.user_type == '1' or request.user.user_type == '2' %}
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-file"></i>
              <p>User Manual</p>
            </a>
          </li>
          {% endif %}
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Dashboard</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Dashboard</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
   {% block content %}
   {% endblock content %}
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <footer class="main-footer">
    <strong>Copyright &copy; {% now 'Y' %} <a href="https://adminlte.io">Bengohub</a>.</strong>
    All rights reserved.
    <div class="float-right d-none d-sm-inline-block">
      <b>Version</b> 3.2.0
    </div>
  </footer>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->
{% include 'core/scripts.html' %}
{% block custom_js %} {% endblock custom_js %}
</body>
</html>
