{% load static %}
<!-- jQuery -->
<script src="{% static 'plugins/jquery/jquery.min.js' %}"></script>
<script src="{% static 'dist/js/jquery.formset.js' %}"> </script>
<!-- Bootstrap -->
<script src="{% static 'plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'plugins/toastr/toastr.min.js' %}"></script>
<!-- overlayScrollbars -->
<script
src="{% static 'plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js' %}"></script>

<!-- DataTables JS -->
<script type="text/javascript" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap4.min.js"></script>
 <!-- Include SweetAlert JS -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.16.7/dist/sweetalert2.all.min.js"></script>
<!-- AdminLTE App -->
<script src="{% static 'dist/js/adminlte.js' %}"></script>
{% if messages %}
{% for message in messages %}
<script type=text/javascript>
toastr.options.progressBar = true;
toastr.{{ message.tags }}('{{ message }}')
</script>
{% endfor %}
{% endif %}
<!-- OPTIONAL SCRIPTS -->
<script src="{% static 'plugins/Datatables/datatables.min.js' %}"></script>
<script>
(function ($) {
$('.clickable-row').css('cursor', 'pointer');
$(".clickable-row").click(function () {
window.location = $(this).data("href");
});
})(jQuery)

</script>
{% block custom_js %} {% endblock custom_js %}

