
{% extends 'core/base_template.html' %}
{% load static %}
{% block content %}
  <!-- Page Title -->
  <div class="page-title" data-aos="fade">
    <div class="heading">
      <div class="container">
        <div class="row d-flex justify-content-center text-center">
          <div class="col-lg-8">
            <h1>Services</h1>
            <p class="mb-0">1. Property Listing and Management
              2. Tenant Management
              3. Lease and Contract Management
              4. Maintenance Request Handling
              5. Financial Management
              6. Reporting and Analytics.</p>
          </div>
        </div>
      </div>
    </div>
    <nav class="breadcrumbs">
      <div class="container">
        <ol>
          <li><a href="index.html">Home</a></li>
          <li class="current">Services</li>
        </ol>
      </div>
    </nav>
  </div><!-- End Page Title -->

  <!-- Services Section -->
  <section id="services" class="services section">

    <div class="container">

      <div class="row gy-4">

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
          <div class="service-item  position-relative">
            <div class="icon">
              <i class="bi bi-activity"></i>
            </div>
            <a href="service-details.html" class="stretched-link">
              <h3>Property Listing and Management</h3>
            </a>
            <p>Add, update, and manage details of properties ( type, size, location, price, status).
              Upload property images and documents.</p>
          </div>
        </div><!-- End Service Item -->

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
          <div class="service-item position-relative">
            <div class="icon">
              <i class="bi bi-broadcast"></i>
            </div>
            <a href="service-details.html" class="stretched-link">
              <h3>Tenant Management</h3>
            </a>
            <p>Maintain tenant profiles and lease agreements.
              Track rent payments and lease expiry dates.
              Send rent reminders and notices..</p>
          </div>
        </div><!-- End Service Item -->

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
          <div class="service-item position-relative">
            <div class="icon">
              <i class="bi bi-easel"></i>
            </div>
            <a href="service-details.html" class="stretched-link">
              <h3>Lease and Contract Management</h3>
            </a>
            <p>Generate and manage lease contracts.
              Track contract renewal and termination dates..</p>
          </div>
        </div><!-- End Service Item -->

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
          <div class="service-item position-relative">
            <div class="icon">
              <i class="bi bi-bounding-box-circles"></i>
            </div>
            <a href="service-details.html" class="stretched-link">
              <h3>4. Maintenance Request Handling</h3>
            </a>
            <p>Allow tenants to submit maintenance requests.
              Track status of repairs and service requests..</p>
            <a href="service-details.html" class="stretched-link"></a>
          </div>
        </div><!-- End Service Item -->

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="500">
          <div class="service-item position-relative">
            <div class="icon">
              <i class="bi bi-calendar4-week"></i>
            </div>
            <a href="service-details.html" class="stretched-link">
              <h3>Financial Management</h3>
            </a>
            <p>ecord rent collection and expenses.
              Generate invoices, receipts, and financial reports.
              Monitor overdue payments and balances..</p>
            <a href="service-details.html" class="stretched-link"></a>
          </div>
        </div><!-- End Service Item -->

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="600">
          <div class="service-item position-relative">
            <div class="icon">
              <i class="bi bi-chat-square-text"></i>
            </div>
            <a href="service-details.html" class="stretched-link">
              <h3>Reporting and Analytics</h3>
            </a>
            <p>Generate reports on property performance, occupancy rates, income, and expenses.
              Provide data-driven insights for better decision-making.</p>
            <a href="service-details.html" class="stretched-link"></a>
          </div>
        </div><!-- End Service Item -->

      </div>

    </div>

  </section><!-- /Services Section -->
{% endblock content %}R