{% extends 'account/base.html' %}
{% load static %}
{% load humanize %}
{% block content %}
<div class="hero page-inner overlay" style="background-image: url('{{unit.unit_images.last}}');">

	<div class="container">
		<div class="row justify-content-center align-items-center">
			<div class="col-lg-9 text-center mt-5">
				<h1 class="heading" data-aos="fade-up">{{unit.unit_name}}</h1>

				<nav aria-label="breadcrumb" data-aos="fade-up" data-aos-delay="200">
					<ol class="breadcrumb text-center justify-content-center">
						<li class="breadcrumb-item "><a href="{% url 'frontpage' %}">Home</a></li>
						<li class="breadcrumb-item "><a href="{% url 'property_page' %}">Units</a></li>
						<li class="breadcrumb-item active text-white-50" aria-current="page">{{unit.property.address}}</li>
					</ol>
				</nav>
			</div>
		</div>
	</div>
</div>
<div class="section">
	<div class="container">
		<div class="row justify-content-between">
			<div class="col-lg-6">
				<div class="img-property-slide-wrap">
					<div class="img-property-slide">
						{% for img in unit.unit_images.all %}
						<img src="{{img}}" alt="Image" class="img-fluid">
						{% empty %}
						<img src="images/img_1.jpg" alt="Image" class="img-fluid">
						<img src="images/img_2.jpg" alt="Image" class="img-fluid">
						<img src="images/img_3.jpg" alt="Image" class="img-fluid">
						{% endfor %}
					</div>
				</div>
				<div class="d-block agent-box p-5">
					<p class="mb-2 float-end badge badge-success text-white bg-success">Featured review</p>
					<div class="img mb-4">
						<img src="{% static 'dist/img/avatar.png' %}" alt="Image" class="img-fluid">
					</div>
					<div class="text">
						<h3 class="mb-0">Alicia Huston</h3>
						<div class="meta mb-3">{{unit.unit_name}}</div>
						<p>Experience urban sophistication and tranquility at its finest! Our modern apartments in Oyugis redefine contemporary living. Stylish rooms, top-notch amenities, and a prime location make this the perfect urban oasis. Explore luxury living like never before and embrace the ultimate in comfort and convenience. Welcome home to a life of elegance and style!</p>
						<ul class="list-unstyled social dark-hover d-flex">
							<li class="me-1"><a href="#"><span class="icon-instagram"></span></a></li>
							<li class="me-1"><a href="#"><span class="icon-twitter"></span></a></li>
							<li class="me-1"><a href="#"><span class="icon-facebook"></span></a></li>
							<li class="me-1"><a href="#"><span class="icon-linkedin"></span></a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-lg-6">
				<h2 class="heading text-primary">{{unit.title}} - HSE No:{{unit.unit_code}}</h2>
				<p class="meta"><b>House Details</b><br /> {{unit.description|safe}}</p>
				<p ><b>More Details</b></p>
				<p class="meta">Squre Feet: {{unit.square_footage|intcomma}}</p>
				<p class="meta">Bedrooms: {{unit.bedrooms|safe}}</p>
				<p class="meta">Bathrooms: {{unit.bathrooms|safe}}</p>
				<p class="meta">Room Type: {{unit.unit_type}}</p>
				<p class="text-black-50"><b>KES {{unit.rental_price|intcomma}}</b></p>
			</div>
		</div>
	</div>
</div>
{% endblock content %}