{% extends 'core/base.html' %}
{% load widget_tweaks %}
{% block content %}
<div class="content-wrapper mr-4">
 <form method="POST">
  {% csrf_token %}
    <div class="row">
        <div class="col-sm-6">
        <div class="text-muted">INVOICE DETAILS</div>
        {% for field in form %}
        <div class="form-group row">
            <label class="col col-form-label" for="{{ field.auto_id }}">
            {{ field.label }} {% for error in field.errors %}
            <small id="{{ field.auto_id }}" class="text-danger"
                >{{ error }}</small>
            {% endfor %}
            </label>
            <div class="col">
            {{ field | add_class:"form-control"}}
            {% if field.help_text %}
            <small>{{ field.help_text|safe }}</small>
            {% endif %}
            </div>
        </div>
        {% endfor %}
        </div>
    </div>
     {% if object %}
  <input type="submit" class="btn btn-primary" value="Update Record" />
  {% else %}
  <input type="submit" class="btn btn-primary" value="Save Record" />
  {% endif %}
</form>
</div>
{% endblock %}
{% block custom_js %}
<script>
  (function($) {
    $(document).ready(function() {
      function maybeAutoFillAmount() {
        var leaseId = $('#id_lease').val();
        var invoiceType = $('#id_invoice_type').val();
        if (!leaseId || invoiceType !== 'rent') {
          return;
        }
        var urlTemplate = "{% url 'lease-rent-amount' 0 %}";
        var url = urlTemplate.replace(/0\/?$/, leaseId + "/");
        $.getJSON(url, function(data) {
          if (data.monthly_rent !== undefined) {
            $('#id_amount').val(data.monthly_rent);
          }
        });
      }

      $('#id_lease').on('change', maybeAutoFillAmount);
      $('#id_invoice_type').on('change', maybeAutoFillAmount);
    });
  })(jQuery);
</script>
{% endblock custom_js %}