{% extends 'core/base.html' %}
{% load widget_tweaks %}
{% block content %}
<div class="content-wrapper mr-4">
 <form method="POST">
  {% csrf_token %}
    <div class="row">
      <div class="col-sm-12">
        <div class="text-muted">Process Payment</div>
        {% for field in form %}
        <div class="form-group row">
            <label class="col col-form-label" for="{{ field.auto_id }}">
            {{ field.label }} {% for error in field.errors %}
            <small id="{{ field.auto_id }}" class="text-danger"
                >{{ error }}</small>
            {% endfor %}
            </label>
            <div class="col">
            {{ field | add_class:"form-control"}}
            {% if field.help_text %}
            <small>{{ field.help_text|safe }}</small>
            {% endif %}
            </div>
        </div>
        {% endfor %}
        </div>
    </div>
  <input type="submit" class="btn btn-warning" value="Process Payment" />
</form>
</div>
{% endblock %}