{% extends 'core/base.html' %}
{% block content %}
 <div class="container-fluid">
  <h4>Staff Salary Payment Detail</h4>
  <dl class="row">
    <dt class="col-sm-3">Staff</dt>
    <dd class="col-sm-9">{{ staff_payment.staff }}</dd>
    <dt class="col-sm-3">Month</dt>
    <dd class="col-sm-9">{{ staff_payment.month }}</dd>
    <dt class="col-sm-3">Year</dt>
    <dd class="col-sm-9">{{ staff_payment.year }}</dd>
    <dt class="col-sm-3">Allowances</dt>
    <dd class="col-sm-9">{{ staff_payment.allowances }}</dd>
    <dt class="col-sm-3">Deductions</dt>
    <dd class="col-sm-9">{{ staff_payment.deductions }}</dd>
    <dt class="col-sm-3">Net Pay</dt>
    <dd class="col-sm-9">{{ staff_payment.net_pay }}</dd>
  </dl>
  <a href="{% url 'staff-salary-payment-list' %}" class="btn btn-primary">Back to List</a>
</div>
{% endblock %}